
/* common css start  */
:root{
    --body-family: 'Roboto', sans-serif;
    --headding-family: 'Josefin Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,ol,ul,small,span{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,a,button{
    font-family: var(--headding-family);
}
body{
    font-family: var(--body-family);
}
/* common css end  */

/* nav section css strat  */
#nav ul li a{
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #11161E;
    transition: 0.5s;
}
#nav ul li a:hover{
    color: #FF6F61;
}
#nav ul li a i{
    margin-left: 10px;

}
#nav .navber_icon button{
    background: none;
    border: none;
    margin-left: 20px;
    transition: 0.5s;
    position: relative;
}
#nav .navber_icon button:hover{
    color: #FF6F61;
}
#nav .navber_icon button span{
    width: 15px;
    height: 15px;
    background: #FF6F61;
    border-radius: 50%;
    line-height: 18px;
    color: #fff;
    position: absolute;
    top: 0;
    right: -7px;
}
/* nav section css end  */
/* Banner section css start  */
#banner .banner_slider_item{
    height: 800px;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    z-index: 1;
}
#banner .banner_slider_item:after{
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(2, 5, 19, 0.7),rgba(2, 4, 17, 0.6175),rgba(1, 4, 15, 0.5484),rgba(1, 3, 13, 0.4834),rgba(0, 0, 0, 0));
    z-index: -1;
}
#banner .banner_slider_item h4{
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 27px;
}
#banner .banner_slider_item h1{
    font-size: 51px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 26px;
}
#banner .banner_slider_item p{
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.8;
    margin-bottom: 38px;
}
#banner .banner_slider_item a{
   color: #ffffff;
   background: #FF6F61;
   padding: 19px 34px;
   text-transform: capitalize;
   transition: 0.4s;
}
#banner .banner_slider_item a:hover{
    background: #ffffff;
    color: #FF6F61;
}
#banner .banner_slider_item a .fa-arrow-right-long{
    margin-left: 5px;
}
#banner .banner_slider_dots{
    position: absolute;
    left: 108px;
    bottom: 205px;
}
#banner .banner_slider_dots li{
    display: inline-block;
}
#banner .banner_slider_dots li button{
    background: none;
    border: none;
    font-size: 0;
    width: 10px;
    height: 5px;
    background: #ffffff;
    border-radius: 5px;
    margin-right: 5px;
    transition: 0.3s;
}
#banner .banner_slider_dots li.slick-active button{
    width: 26px;
    background: #FF6F61;
}
/* Banner section css end  */
/* Beauty Cream section css start  */
#beauty_cream{
    margin-top: 99px;
}
#beauty_cream .beauty_cream_img{
    position: relative;
    margin-bottom: 23px;
}
#beauty_cream .beauty_cream_img .beauty_cream_img_overlay{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    /* background: #11161E; */
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.4s ease-in-out;
}
#beauty_cream .beauty_cream_img:hover .beauty_cream_img_overlay{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
#beauty_cream .beauty_cream_img .beauty_cream_img_overlay h4{
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 23px;
    transition: 0.4s;
}
#beauty_cream .beauty_cream_img .beauty_cream_img_overlay h4:hover{
    color: #FF6F61;
}
#beauty_cream .beauty_cream_img .beauty_cream_img_overlay a{
    color: #ffffff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    transition: 0.4s;
    border-bottom: 3px solid transparent;
    margin-left: 24px;
}
#beauty_cream .beauty_cream_img .beauty_cream_img_overlay a:hover{
    color: #FF6F61;
    border-bottom: 2px solid #FF6F61;
}
/* Beauty Cream section css end  */
/* New Products section css start  */
#new_products h2{
    margin-top: 100px;
    font-size: 33px;
    font-weight: 700;
    color: #11161E;
    margin-bottom: 50px;
}
/* #new_products .new_products_slider_item{
    border: 1px solid red;
} */
#new_products .new_products_slider_item{
    position: relative;
    /* width: 310px; */
    margin-right: 15px;
}
#new_products .new_products_slider_item .new_products_img{
    position: relative;
    transition: 0.3s ease-in-out;
}
#new_products .new_products_slider_item .new_products_img img.img_swap{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
#new_products .new_products_slider_item .new_products_img:hover img.img_swap{
    opacity: 1;
    visibility: visible;
}
#new_products .new_products_slider_item .new_products_img img.dis_tag{
    position: absolute;
    top: 0;
    left: 24px;
}
#new_products .new_products_slider_item .new_products_img img.dis_mid{
    position: absolute;
    top: 8px;
    left: 30px;
}
#new_products .new_products_slider_item .new_products_icon{
    position: absolute;
    top: 40px;
    left: 220px;
}
#new_products .new_products_slider_item .new_products_img .new_products_icon .icon_btn{
    display: block;
    width: 38px;
    height: 38px;
    background: #ffffff;
    text-align: center;
    line-height: 38px;
    color: #151A32;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: 0.3s;
    transform: translateX(40px);
    opacity: 0;
    visibility: hidden;
}
#new_products .new_products_slider_item .new_products_img:hover .new_products_icon .icon_btn{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
#new_products .new_products_slider_item .new_products_icon .icon_btn:hover{
    background: #FF6F61;
    color: #ffffff;
}
#new_products .new_products_slider_item .new_products_img .new_products_icon .icon_btn:nth-child(1){
    transition-delay: 0s;
}
#new_products .new_products_slider_item .new_products_img .new_products_icon .icon_btn:nth-child(2){
    transition-delay: 0.1s;
}
#new_products .new_products_slider_item .new_products_img .new_products_icon .icon_btn:nth-child(3){
    transition-delay: 0.2s;
}
#new_products .new_products_slider_item .new_products_img .new_products_icon .icon_btn:nth-child(4){
    transition-delay: 0.3s;
}
/* #new_products .new_products_slider_item .new_products_img .new_products_icon .icon_btn button{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -49px;
    left: -78px;
    transform: skewX(80deg);
} */
#new_products .new_products_slider_item .new_products_img .new_products_icon .icon_btn:hover button{
    opacity: 1;
    visibility: visible;
}
#new_products .new_products_content{
    padding-top: 30px;
    padding-bottom: 26px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ffffff;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08);
}
#new_products .new_products_content p{
    font-size: 16px;
    font-weight: 400;
    color: #444444;
    text-align: center;
}
#new_products .new_products_content .new_products_title{
    margin-top: 16px;
}
#new_products .new_products_content .new_products_title a{
    font-size: 17px;
    font-weight: 600;
    color: #11161E;
    margin-bottom: 20px;
    transition: 0.3s;
}
#new_products .new_products_content .new_products_title a:hover{
    color: #FF6F61;
}
#new_products .new_products_content .star{
    transform: translateX(65px);
}
#new_products .new_products_content .star span{
    color: #FF6F61;
    font-size: 12px;
}
/* New Products section css end  */
/* Offer section css start  */
#offer{
    margin-top: 100px;
    background: url(../img/offer_bg.jpg);
    height: 524px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
#offer::before{
	content: '';
	position: absolute;
	pointer-events: none;
	opacity: 1;
	z-index: 3;
	top: 0;
	right: 51%;
	bottom: 0;
	left: 50%;
	background: rgba(255,255,255,0.2);
	transform: skew(45deg);
}
#offer:hover::before{
    left:0;
    right:0;
    opacity:0;
    transition: 900ms linear;
}
#offer .offer_content h2{
    color: #ffffff;
    font-weight: 700;
    line-height: 1.7;
    margin-bottom: 20px;
}
#offer .offer_content p{
    color: #ffffff;
    font-size: 13px;
    line-height: 2;
    margin-bottom: 34px;
}
#offer .offer_content a{
    padding: 18px 34px;
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    transition: 0.4s;
}
#offer .offer_content a:hover{
    background: #FF6F61;
    border: 1px solid #FF6F61;
    /* rgba(255,255,255,0.2) */
}
/* Offer section css end  */
/* Best Seller Products section css start  */
#seller_product .seller_product_title h3{
    font-size: 36px;
    font-weight: 700;
    color: #11161E;
    margin-top: 100px;
    margin-bottom: 49px;
}
#seller_product .seller_product_item .seller_product_img{
    position: relative;
}
#seller_product .seller_product_item .seller_product_img .seller_img_swep{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
#seller_product .seller_product_item .seller_product_img:hover .seller_img_swep{
   opacity: 1;
   visibility: visible;
}
#seller_product .seller_product_item .seller_product_img .dis_tag{
    position: absolute;
    top: 0;
    left: 24px;
}
#seller_product .seller_product_item .seller_product_img .dis_mid{
    position: absolute;
    top: 8px;
    left: 30px;
}
#seller_product .seller_product_item .seller_product_img .seller_products_icon{
    position: absolute;
    top: 40px;
    left: 205px;
}
#seller_product .seller_product_item .seller_product_img .seller_products_icon .icon_btn{
    display: block;
    width: 38px;
    height: 38px;
    background: #ffffff;
    text-align: center;
    line-height: 38px;
    color: #151A32;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: 0.3s;
    transform: translateX(30px);
    opacity: 0;
    visibility: hidden;
}
#seller_product .seller_product_item .seller_product_img:hover .seller_products_icon .icon_btn{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
#seller_product .seller_product_item .seller_product_img .seller_products_icon .icon_btn:hover{
    background: #FF6F61;
    color: #ffffff;
}
#seller_product .seller_product_item .seller_product_img .seller_products_icon .icon_btn:nth-child(1){
    transition-delay: 0;
}
#seller_product .seller_product_item .seller_product_img .seller_products_icon .icon_btn:nth-child(2){
    transition-delay: 0.1s;
}
#seller_product .seller_product_item .seller_product_img .seller_products_icon .icon_btn:nth-child(3){
    transition-delay: 0.2s;
}
#seller_product .seller_product_item .seller_product_img .seller_products_icon .icon_btn:nth-child(4){
    transition-delay: 0.3s;
}
#seller_product .seller_products_content{
    padding-top: 30px;
    padding-bottom: 26px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ffffff;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08);
}
#seller_product .seller_products_content p{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--headding-family);
}
#seller_product .seller_products_content .seller_products_title{
    margin-top: 16px;
}
#seller_product .seller_products_content .seller_products_title a{
    font-size: 17px;
    font-weight: 600;
    color: #11161E;
    margin-bottom: 20px;
    transition: 0.3s;
}
#seller_product .seller_products_content .seller_products_title a:hover{
    color: #FF6F61;
}
#seller_product .seller_products_content .review span{
    color: #FF6F61;
    font-size: 12px;
}
#seller_product .products_btn{
    margin-top: 40px;
}
#seller_product .products_btn a{
    padding: 18px 20px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    background: #FF6F61;
    color: #ffffff;
}
/* Best Seller Products section css end  */
/* Time Counter section css start  */
#counter .counter_title{
    margin-top: 100px;
}
#counter .counter_title h3{
    font-size: 36px;
    font-weight: 700;
    color: #11161E;
}
#counter #counter_time{
    padding: 15px 70px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 0 rgba(21, 26, 50, 0.1);
    position: relative;
    bottom: -90px;
    z-index: 3;
}
#counter .counter_time_item span{
    display: block;
    color: #444444;
}
#counter span.clon{
    font-size: 40px;
    color: #FF6F61;
}
#counter .counter_time_item span:first-child{
    font-size: 24px;
    font-weight: 700;
    color: #11161E;
}
/* Time Counter section css end  */
/* Cream banner section css start  */
#cream_banner{
    margin: 0 30px;
    margin-top: 50px;
    box-shadow: 0px 0px 70px rgba(21,26,50,0.08);
    background-color: #ffffff;
    padding: 40px 40px 60px 40px;
}
#cream_banner .cream_banner_slider .cream_banner_slider_item{
    height: 485px;
    background-repeat: no-repeat !important;
    margin-bottom: 50px;
    padding: 40px;
    margin-right: 24px;
    margin-top: 50px;
    position: relative;
}
#cream_banner .cream_banner_slider .cream_banner_slider_item .cream_banner_slider_content{
    position: relative;
}
/* #cream_banner .cream_banner_slider .cream_banner_slider_item::after{
    content: '';
	position: absolute;
	pointer-events: none;
	opacity: 1;
	z-index: 3;
    top: 50%;
    left: 0;
    bottom: 50%;
    right: 0;
    background: rgba(255,255,255,0.3);
}
#cream_banner .cream_banner_slider .cream_banner_slider_item:hover::after{
    left:0;
    right:0;
    opacity:0;
    transition: 900ms linear;
} */
#cream_banner .cream_banner_slider .cream_banner_slider_item::before{
    content: '';
	position: absolute;
	pointer-events: none;
	opacity: 1;
	z-index: 3;
    top: 0;
    right: 51%;
    bottom: 0;
    left: 50%;
    background: rgba(255,255,255,0.2);
}
#cream_banner .cream_banner_slider .cream_banner_slider_item:hover::before{
    left:0;
    right:0;
    opacity:0;
    transition: 900ms linear;
}
#cream_banner .cream_banner_slider .cream_banner_slider_item h4{
    font-size: 18px;
    font-weight: 600;
    color: #11161E;
    margin-bottom: 22px;
}
#cream_banner .cream_banner_slider .cream_banner_slider_item h2{
    font-size: 36px;
    font-weight: 700;
    color: #11161E;
    margin-bottom: 28px;
}
#cream_banner .cream_banner_slider .cream_banner_slider_item p{
    font-size: 16px;
    font-weight: 400;
    width: 350px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 33px;
}
#cream_banner .cream_banner_slider .cream_banner_slider_item .price h5{
    margin-right: 15px;
    margin-bottom: 38px;
}
#cream_banner .cream_banner_slider .cream_banner_slider_item a{
    padding: 18px 33px;
    background: #151A32;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
#cream_banner .cream_banner_slider_dots{
    position: absolute;
    left: 46%;
    bottom: 0;
}
#cream_banner .cream_banner_slider_dots li{
    display: inline-block;
}
#cream_banner .cream_banner_slider_dots li button{
    background: none;
    border: none;
    font-size: 0;
    width: 10px;
    height: 5px;
    background: #BDBDBD;
    border-radius: 5px;
    margin-right: 5px;
    transition: 0.3s;
}
#cream_banner .cream_banner_slider_dots li.slick-active button{
    width: 26px;
    background: #151A32;
}
/* Cream banner section css end  */
/* Special offer section css start  */
#special_offer{
    margin-top: 100px;
}
#special_offer .special_offer_text{
    background: #F1F3F4;
    height: 517px;
}
#special_offer .special_offer_text h6{
    font-size: 16px;
    font-weight: 400;
    color: #444444;
    margin-bottom: 24px;
}
#special_offer .special_offer_text h2{
    font-size: 36px;
    font-weight: 700;
    color: #11161E;
    margin-bottom: 36px;
}
#special_offer .special_offer_text p{
    width: 417px;
    font-size: 16px;
    font-weight: 400;
    color: #444444;
    line-height: 28px;
    margin-bottom: 40px;
}
#special_offer .special_offer_text a{
    padding: 21px 25px;
    background: #FF6F61;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}
#special_offer .special_offer_img{
    background: url(../img/special_offer_bg_2.jpg);
    background-size: cover;
    background-position: center;
    height: 517px;
    position: relative;
}
#special_offer .special_offer_img::after{
    content:'';
    position:absolute;
    pointer-events:none;
    opacity:1;
    z-index:3;
    top:50%;
    right:0;
    bottom:50%;
    left:0;
    background:rgba(255,255,255,0.3)
}
#special_offer .special_offer_img:hover::after{
    top:0;
    bottom:0;
    opacity:0;
    transition:all 900ms linear
}
#special_offer .special_offer_img::before{
    content:'';
    position:absolute;
    pointer-events:none;
    opacity:1;
    z-index:3;
    top:0;
    right:51%;
    bottom:0;
    left:50%;
    background:rgba(255,255,255,0.2)
}
#special_offer .special_offer_img:hover::before{
    right:0;
    left:0;
    opacity:0;
    transition:all 900ms linear
}
#special_offer .special_offer_img a{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #ffffff;
    text-align: center;
    line-height: 65px;
    border-radius: 50%;
    color: #FF6F61;
    transition: 0.4s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#special_offer .special_offer_img a:hover{
    background: #FF6F61;
    color: #ffffff;
}
#special_offer .special_offer_img a.play_btn::after,
#special_offer .special_offer_img a.play_btn::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: -1;
    border-radius: 50%;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
    animation: ripple 3s ease-in-out infinite;
}
@keyframes ripple {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
      }
      30% {
        opacity: 0.40;
      }
      100% {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
        opacity: 0;
      }
}
/* Special offer section css end  */
/* Latest News section css start  */
/* #latest_news{
    margin-bottom: 100px;
} */
#latest_news h4{
    margin-top: 100px;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 70px;
}
#latest_news .card{
    margin-right: 20px;
}
#latest_news .card .card_img{
    position: relative;
}
#latest_news .card .card_img::after{
    content:'';
    position:absolute;
    pointer-events:none;
    opacity:1;
    z-index:3;
    top:50%;
    right:0;
    bottom:50%;
    left:0;
    background:rgba(255,255,255,0.3)
}
#latest_news .card .card_img:hover::after{
    top:0;
    bottom:0;
    opacity:0;
    -webkit-transition:all 900ms linear;
    transition:all 900ms linear;
}
#latest_news .card .card_img::before{
    content:'';
    position:absolute;
    pointer-events:none;
    opacity:1;
    z-index:3;
    top:0;
    right:51%;
    bottom:0;
    left:50%;
    background:rgba(255,255,255,0.2)
}
#latest_news .card .card_img:hover::before{
    left:0;
    right:0;
    opacity:0;
    -webkit-transition:all 900ms linear;
    transition:all 900ms linear
}
#latest_news .card img{
    padding: 20px 15px;
    position: relative;
}
#latest_news .card img::after{
    content: '';
	position: absolute;
	pointer-events: none;
	opacity: 1;
	z-index: 3;
    top: 50%;
    right: 0;
    bottom: 50%;
    left: 0;
    background: rgba(255,255,255,0.2);
}
#latest_news .card img:hover::after{
    left:0;
    right:0;
    opacity:0;
    transition: 900ms linear;
}
#latest_news .card .card-body h5{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
    transition: 0.4s;
}
#latest_news .card .card-body h5:hover{
    color: #FF6F61;
}
#latest_news .card .card-body p{
    font-size: 14px;
    font-weight: 400;
    color: #444444;
    margin-bottom: 20px;
}
#latest_news .card .card-body .card_body_date a{
    padding-right: 23px;
    font-size: 14px;
    font-weight: 600;
    color: #444444;
    text-transform: capitalize;
    transition: 0.3s;
}
#latest_news .card .card-body .card_body_date a:hover{
    color: #FF6F61;
}
#latest_news .card_slider_dots{
    position: absolute;
    left: 43%;
    bottom: -40px;
}
#latest_news .card_slider_dots li{
    display: inline-block;
}
#latest_news .card_slider_dots li button{
    background: none;
    border: none;
    font-size: 0;
    width: 10px;
    height: 5px;
    background: #BDBDBD;
    border-radius: 5px;
    margin-right: 5px;
    transition: 0.3s;
}
#latest_news .card_slider_dots li.slick-active button{
    width: 26px;
    background: #151A32;
}
#latest_news .shipping_info{
    margin-top: 100px;
    border: 1px solid #fff;
    padding: 45px 39px;
    position: relative;
    bottom: -90px;
    z-index: 99;
}
#latest_news .shipping_info .shipping_info_item{
    border-right: 4px solid #f1f1f1;
}
#latest_news .shipping_info .shipping_info_item.b_none{
    border-right: none;
}
#latest_news .shipping_info .shipping_info_item_logo{
    margin-right: 11px;
    position: relative;
}
#latest_news .shipping_info .shipping_info_item_logo .shipping_logo{
    position: absolute;
    top: 20px;
    left: 8px;
}
#latest_news .shipping_info .shipping_info_item_logo .shipping_logo_1{
    position: absolute;
    top: 15px;
    left: 14px;
}
#latest_news .shipping_info .shipping_info_item_content h5{
    margin-top: 12px;
    font-size: 18px;
}
#latest_news .shipping_info .shipping_info_item_content p{
    font-weight: 400;
    color: #444444;
    font-size: 12px;
}
#latest_news .shipping_info .shipping_info_item_content p span{
    color: #FF6F61;
}
/* Latest News section css end  */
/* Footer section css start  */
#footer{
    background: url(../img/footer_bg_1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
#footer::before{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
#footer .footer_social_link{
    margin-top: 155px;
    margin-bottom: 75px;
}
#footer .footer_social_link ul li a i{
    margin-right: 20px;
    width: 40px;
    height: 40px;
    background: #ffffff;
    color: #444444;
    text-align: center;
    line-height: 40px;
    transition: 0.4s;
}
#footer .footer_social_link ul li a i:hover{
    background: #FF6F61;
    color: #ffffff;
}
#footer .footer_logo{
    margin-top: 147px;
}
#footer .footer_pay_img{
    margin-right: -13px;
    margin-top: 147px;
}
#footer hr{
    border: 1px solid #E0E0E0;
}
#footer .footer_info{
    margin-top: 74px;
}
#footer .footer_info h5{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 35px;
}
#footer .footer_info .footer_account{
    margin-bottom: 78px;
}
#footer .footer_info .footer_account ul li{
    color: #ffffff;
    margin-bottom: 13px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.4s;
}
#footer .footer_info .footer_account ul li i{
    margin-right: 8px;
}
#footer .footer_info .footer_account ul li:hover{
    color: #FF6F61;
}
#footer .footer_table tr{
    margin-bottom: 16px;
}
#footer .footer_table th,
#footer .footer_table td{
    padding-right: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}
#footer .footer_address p{
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}
#footer .footer_address i{
    color: #FF6F61;
    margin-right: 15px;
}
#footer .footer_phone a,
#footer .footer_mail a{
    color: #ffffff;
}
#footer .footer_mail i{
    margin-top: 5px;
}
#footer .footer_news p{
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 30px;
}
#footer .footer_input input{
    padding: 18px 13px;
    border: none;
    outline: none;
}
#footer .footer_input input:nth-child(2){
    padding: 0px 19px;
    background: #FF6F61;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    font-family: var(--headding-family);
}
#footer .footer_input input ::placeholder{
    color: #8F8F8F;
}
#footer .footer_copyright{
    background: #ffffff;
    padding: 28px 0;
    background: transparent;
    position: relative;
}
#footer .footer_copyright::before{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0,0.3);
}
#footer .footer_copyright p{
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.4s;
}
#footer .footer_copyright p span{
    text-transform: capitalize;
    color: #FF6F61;
}
#footer .footer_copyright p:hover span{
    color: #ffffff;
    cursor: pointer;
}
/* Footer section css end  */
/* BackToTop section css start  */
#backToTop{
    width: 60px;
    height: 60px;
    background: #FF6F61;
    color: #ffffff;
    position: fixed;
    right: 30px;
    bottom: 40px;
    border: 5px solid #ffffff;
    border-radius: 50%;
    font-size: 16px;
    z-index: 9999;
    display: none;
    transition: 0.6s;
}
#backToTop:hover{
    background: #11161E;
}
/* BackToTop section css end  */

/* about page css start  */

/* about page about top ber css start  */
#about_top_ber{
    background: #151A32;
    padding: 15px 0;
}
#about_top_ber p{
    font-size: 15px;
    color: #ffffff;
}
#about_top_ber p i{
    margin-right: 5px;
    color: #FF6F61
}
#about_top_ber p span{
    color: #FF6F61;
    font-family: var(--headding-family);
    margin-left: 2px;
}
#about_top_ber .about_top_ber_last ul li{
    margin-right: 14px;
    padding-right:14px;
    position: relative;
}
#about_top_ber .about_top_ber_last ul li:last-child{
    margin-right: 0;
    padding-right: 0;
}
#about_top_ber .about_top_ber_last ul li::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 16px;
    background: #8F8F8F;
    left: 100%;
    top: 6px;
}
#about_top_ber .about_top_ber_last ul li:last-child:after{
    display: none;
}
#about_top_ber .about_top_ber_last ul li a{
    font-size: 15px;
    color: #ffffff;
    text-transform: capitalize;
    /* border-right: 1px solid #fff; */
}
#about_top_ber .about_top_ber_last ul li ul li a{
    color: #11161E;
}
#about_top_ber .about_top_ber_last ul li ul li a i{
    color: #ffffff;
    transition: 0.4s;
}
#about_top_ber .about_top_ber_last ul li ul li a i:hover{
    color: #FF6F61;
}
/* about page about top ber css end  */
/* about page about banner css start  */
#about_banner{
    background-image: url(../img/about_us_banner.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    z-index: 1;
}
#about_banner::after{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
#about_banner h2{
    color: #ffffff;
    font-weight: 700;
    font-size: 37px;
    text-transform: capitalize;
    margin-bottom: 30px;
}
#about_banner p{
    color: #ffffff;
    font-weight: 400;
    margin-left: 5px;
}
#about_banner p span{
    margin-right: 5px;
    transition: 0.4s;
    cursor: pointer;
}
#about_banner p span:hover{
    color: #FF6F61;
}
/* about page about banner css end  */
/* about shop section css start  */
#about_shop{
    margin-top: 100px;
    z-index: 2;
    position: relative;
}
#about_shop .about_shop_img_shap{
    position: relative;
}
#about_shop .about_shop_img_shap::before{
    content: '';
    position: absolute;
    width: 254px;
    height: 283px;
    border: 14px solid #BDBDBD;
    bottom: -40px;
    left: -60px;
    z-index: -1;
    animation: movingX 5s linear infinite;
}
@keyframes movingX {
    0% {
     transform:translateX(0)
    }
    50% {
     transform:translateX(60px)
    }
    100% {
     transform:translateX(0)
    }
   }
#about_shop .about_shop_content h2{
    font-size: 36px;
    font-weight: 700;
    color: #11161E;
    margin-top: 40px;
    margin-bottom: 30px;
}
#about_shop .about_shop_content p{
    font-size: 18px;
    font-weight: 400;
    color: #444444;
    line-height: 2;
}
#about_shop .about_shop_content ul li{
    margin-bottom: 26px;
}
#about_shop .about_shop_content ul li i{
    background: #FF6F61;
    color: #ffffff;
    border-radius: 50%;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
}
#about_shop .about_shop_shap{
    width: 100%;
    height: 500px;
    background: #F1F3F4;
    position: absolute;
    top: -18px;
    left: 200px;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    z-index: -1;
}
/* about shop section css end  */
/* about counter section css start  */
#about_counter{
    margin: 140px 0;
}
#about_counter .about_counter_img{
    width: 100px;
    height: 100px;
    background: #F1F3F4;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
}
#about_counter .about_counter_content h3{
    margin-top: 20px;
    font-size: 36px;
    font-weight: 700;
    color: #FF6F61;
}
#about_counter .about_counter_content p{
    font-size: 16px;
    font-weight: 400;
    color: #444444;
}
/* about counter section css end  */
/* about Our Story section css start  */
#our_stroy{
    margin-top: 100px;
    display: flex;
}
#our_stroy .our_stroy_content{
    background: #F1F3F4;
    height: 532px;
}
#our_stroy .our_stroy_content h3{
    margin-top: 110px;
    margin-bottom: 23px;
    font-size: 36px;
    font-weight: 700;
    color: #11161E;
}
#our_stroy .our_stroy_content p{
    text-align: justify;
    font-size: 15px;
    font-weight: 400;
    width: 522px;
    margin-bottom: 30px;
    line-height: 2;
}
#our_stroy .our_story_img{
    background: url(../img/our_story.jpg);
    height: 532px;
    background-size: cover;
    background-position: center;
    position: relative;
}
#our_stroy .our_story_img::after{
    content:'';
    position:absolute;
    pointer-events:none;
    opacity:1;
    z-index:3;
    top:50%;
    right:0;
    bottom:50%;
    left:0;
    background:rgba(255,255,255,0.3)
}
#our_stroy .our_story_img:hover::after{
    top:0;
    bottom:0;
    opacity:0;
    transition:all 900ms linear
}
#our_stroy .our_story_img::before{
    content:'';
    position:absolute;
    pointer-events:none;
    opacity:1;
    z-index:3;
    top:0;
    right:51%;
    bottom:0;
    left:50%;
    background:rgba(255,255,255,0.2)
}
#our_stroy .our_story_img:hover::before{
    right:0;
    left:0;
    opacity:0;
    transition:all 900ms linear
}
#our_stroy .our_story_img a.play_btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background: #ffffff;
    color: #FF6F61;
    text-align: center;
    line-height: 88px;
    border-radius: 50%;
    font-size: 23px;
    transition: 0.4s;
}
#our_stroy .our_story_img a.play_btn:hover{
    background: #FF6F61;
    color: #ffffff;
}
#our_stroy .our_story_img a.play_btn::after,
#our_stroy .our_story_img a.play_btn::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: -1;
    border-radius: 50%;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
    animation: ripple 2s ease-in-out infinite;
}
/* about Our Story section css end  */
/* about shipping info section css start  */
#about_shipping_info{
    margin-top: 100px;
}
#about_shipping_info .about_shipping_item{
    border-right: 4px solid #f1f1f1;
}
#about_shipping_info .about_shipping_item.b_none{
    border: none;
}
#about_shipping_info .about_shipping_item_img{
    position: relative;
}
#about_shipping_info .about_shipping_item_img .about_shipping_logo{
    position: absolute;
    left: 07px;
    top: 22px;
}
#about_shipping_info .about_shipping_item_img .about_shipping_logo_1{
    position: absolute;
    top: 15px;
    left: 15px;
}
#about_shipping_info .about_shipping_info_content{
    margin-left: 10px;
    margin-top: 13px;
}
#about_shipping_info .about_shipping_info_content h5{
    font-size: 20px;
    font-weight: 600;
    color: #11161E;
}
#about_shipping_info .about_shipping_info_content p{
    color: #444444;
    font-size: 13px;
}
#about_shipping_info .about_shipping_info_content p span{
    color: #FF6F61;
}
/* about shipping info section css end  */
/* about leadershipe section css start  */
#leadershipe{
    margin-top: 100px;
}
#leadershipe .leadershipe_title h2{
    font-size: 30px;
    font-weight: 700;
    color: #11161E;
    margin-bottom: 40px;
}
#leadershipe .leadershipe_card .card{
    margin-right: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#leadershipe .leadershipe_card .card-body h5{
    font-size: 20px;
    font-weight: 600;
    color: #11161E;
}
#leadershipe .leadershipe_card .card-body p{
    margin-top: 10px;
    color: #FF6F61;
    margin-bottom: 10px;
}
#leadershipe .leadershipe_card .card-body .card-body_icon a{
    margin-right: 9px;
}
#leadershipe .leadershipe_card .card-body .card-body_icon a i{
    color: #444444;
    transition: 0.4s;
}
#leadershipe .leadershipe_card .card-body .card-body_icon a i:hover{
    color: #FF6F61;
}
/* about leadershipe section css end  */
/* about leadershipe info section css start  */
#leadershipe_info{
    margin-top: 96px;
    position: relative;
}
#leadershipe_info .leadershipe_info_title img:last-child{
    margin-bottom: 24px;
}
#leadershipe_info .leadershipe_info_slider_img img{
    border-radius: 50%;
    margin-bottom: 23px;
    margin-left: 50%;
    transform: translate(-50%);
}
#leadershipe_info .leadershipe_info_slider_nav .leadershipe_info_slider_nav_info p{
    width: 570px;
    text-align: center;
    margin: auto;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #444444;
}
#leadershipe_info .leadershipe_info_slider_nav .leadershipe_info_slider_nav_info h4{
    font-size: 34px;
    font-weight: 700;
    color: #11161E;
    text-align: center;
    text-transform: capitalize;
}
#leadershipe_info .leadershipe_info_slider_nav .leadershipe_info_slider_nav_info p:last-child{
    color: #FF6F61;
}
#leadershipe_info ul.leadershipe_info_slider_nav_dots{
    display: flex;
    text-align: center;
    margin-left: 43%;
}
#leadershipe_info ul.leadershipe_info_slider_nav_dots li button{
    border: none;
    font-size: 0;
    background: none;
    width: 10px;
    height: 6px;
    background: #BDBDBD;
    border-radius: 5px;
    margin-right: 5px;
    transition: 0.3s;
}
#leadershipe_info ul.leadershipe_info_slider_nav_dots li.slick-active button{
    width: 26px;
    background: #FF6F61;
}
/* about leadershipe info section css end  */
/* about Instagrame section css start  */
#instagrame{
    margin-top: 100px;
}
#instagrame .instagrame_title h2{
    font-size: 36px;
    font-weight: 700;
    color: #11161E;
    margin-bottom: 32px;
}
#instagrame .instagram_item{
    position: relative;
    margin-right: 18px;
}
#instagrame .instagram_item::before{
    content: '';
    position: absolute;
    inset: 0;
    background: #151A32;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    transform: scale(0.5);
}
#instagrame .instagram_item:hover::before{
    visibility: visible;
    transform: scale(1);
    opacity: 0.6;
}
#instagrame .instagram_item .insta_btn{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: #ffffff;
    transform: translate(-50%, -50%) scale(0.8);
    transition-delay: 0.2s;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
}
#instagrame .instagram_item .insta_btn:hover{
    color: #FF6F61;
}
#instagrame .instagram_item:hover .insta_btn{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
#instagrame .instagram_slider_dots{
    position: absolute;
    left: 500px;
    bottom: -45px;
}
#instagrame .instagram_slider_dots li{
    display: inline-block;
}
#instagrame .instagram_slider_dots li button{
    background: none;
    border: none;
    font-size: 0;
    width: 10px;
    height: 5px;
    background: #BDBDBD;
    border-radius: 5px;
    margin-right: 5px;
    transition: 0.3s;
}
#instagrame .instagram_slider_dots li.slick-active button{
    width: 26px;
    background: #FF6F61;
}
/* about Instagrame section css end  */
/* about Footer section css start  */
#about_footer{
    margin-top: 100px;
    background: #F1F3F4;
}
#about_footer .about_footer_content h3{
    margin-top: 100px;
    font-size: 32px;
    font-weight: 700;
    color: #11161E;
    text-transform: capitalize;
    margin-bottom: 20px;
}
#about_footer .about_footer_content p{
    font-size: 14px;
    color: #444444;
    font-weight: 400;
    margin-bottom: 70px;
}
#about_footer .about_footer_input input{
    margin-top: 120px;
    width: 424px;
    height: 60px;
    border: none;
    outline: none;
}
#about_footer .about_footer_input input:last-child{
    width: 180px;
    border: none;
    outline: none;
    background: #FF6F61;
    color: #ffffff;
    font-size: 18px;
    font-family: var(--headding-family);
    font-weight: 600;
}
#about_footer .about_footer_info{
    margin-top: 72px;
}
#about_footer .about_footer_info .about_footer_item p{
    font-size: 15px;
    font-weight: 400;
    color: #444444;
    margin-top: 20px;
    margin-bottom: 30px;
}
#about_footer .about_footer_info .about_footer_item .about_footer_item_icon i{
    margin-right: 20px;
    color: #444444;
    transition: 0.4s;
    margin-bottom: 80px;
}
#about_footer .about_footer_info .about_footer_item .about_footer_item_icon i:hover{
    color: #FF6F61;
}
#about_footer .about_footer_info .about_footer_account h5{
    font-size: 24px;
    font-weight: 700;
    color: #11161E;
    margin-bottom: 36px;
    margin-top: 20px;
}
#about_footer .about_footer_info .about_footer_account ul li{
    margin-bottom: 10px;
    color: #444444;
    cursor: pointer;
    transition: 0.4s;
}
#about_footer .about_footer_info .about_footer_account ul li i{
    margin-right: 7px;
}
#about_footer .about_footer_info .about_footer_account ul li:hover{
    color: #FF6F61;
}
#about_footer .about_footer_info .about_footer_address h5{
    margin-top: 23px;
    font-size: 24px;
    font-weight: 700;
    color: #11161E;
    margin-bottom: 39px;
}
#about_footer .about_footer_info .about_footer_address .footer_location i{
    color: #FF6F61;
    margin-right: 14px;
    margin-top: 5px;
}
#about_footer .about_footer_info .about_footer_address .footer_location p{
    font-size: 14px;
    color: #444444;
}
#about_footer .about_footer_info .about_footer_address .footer_phone i{
    color: #FF6F61;
    margin-right: 7px;
}
#about_footer .about_footer_info .about_footer_address .footer_phone a{
    font-size: 16px;
    color: #444444;
}
#about_footer .about_footer_info .about_footer_address .footer_mail i{
    margin-top: 7px;
    color: #FF6F61;
    margin-right: 13px;
}
#about_footer .about_footer_info .about_footer_address .footer_mail a{
    color: #444444;
}
#about_footer .about_footer_copyright p{
    margin-top: 20px;
    margin-bottom: 30px;
}
#about_footer .about_footer_copyright p span{
    color: #FF6F61;
}
#about_footer .about_footer_copyright img{
    margin-top: 20px;
}
/* about Footer section css end  */
/* about page css end  */

/* Shop Grid page css start  */
/* shop grid banner css start  */
#shop_grid_banner{
    background: url(../img/shop_grid_banner.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    z-index: 1;
}
#shop_grid_banner::before{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
#shop_grid_banner .shop_grid_banner_content h2{
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
}
#shop_grid_banner .shop_grid_banner_content p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    word-spacing: 8px;
    letter-spacing: 2px;
}
#shop_grid_banner .shop_grid_banner_content p span a{
    color: #ffffff;
    transition: 0.4s;
    font-family: var(--body-family);
}
#shop_grid_banner .shop_grid_banner_content p span a:hover{
    color: #FF6F61;
}
/* shop grid banner css end  */
/* shop grid products css start  */
#shop_grid_product{
    margin-top: 100px;
}
#shop_grid_product .shop_grid_product_item{
    margin-bottom: 74px;
}
#shop_grid_product .shop_grid_product_icon a i{
    width: 40px;
    height: 40px;
    background: #FF6F61;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    transition: 0.4s;
    margin-bottom: 30px;
}
#shop_grid_product .shop_grid_product_icon a i:last-child{
    background: #11161E;
}
#shop_grid_product .shop_grid_product_icon .shop_grid_product_text h6{
    margin-left: 27px;
}
#shop_grid_product select{
    outline: none;
    cursor: pointer;
}
#shop_grid_product .shop_grid_product_img{
    position: relative;
}
#shop_grid_product .shop_grid_product_img img.tag_2{
    position: absolute;
    top: 0;
    left: 0;
}
#shop_grid_product .shop_grid_product_img img.new_tag{
    position: absolute;
    top: 5px;
    left: 23px;
}
#shop_grid_product .shop_grid_product_img .shop_grid_product_icon_btn{
    position: absolute;
    top: 40px;
    right: 19px;
}
#shop_grid_product .shop_grid_product_img .shop_grid_product_icon_btn .product_btn{
    display: block;
    width: 36px;
    height: 36px;background: #ffffff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background: #151A32;
    color: #ffffff;
    transition: 0.4s;
    transform: translate(30px);
    margin-bottom: 10px;
    opacity: 0;
    visibility: hidden;
}
#shop_grid_product .shop_grid_product_img:hover .shop_grid_product_icon_btn .product_btn{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
#shop_grid_product .shop_grid_product_img .shop_grid_product_icon_btn .product_btn:hover{
    background: #FF6F61;
}
#shop_grid_product .shop_grid_product_img .shop_grid_product_icon_btn .product_btn:nth-child(1){
    transition-delay: 0s;
}
#shop_grid_product .shop_grid_product_img .shop_grid_product_icon_btn .product_btn:nth-child(2){
    transition-delay: 0.1s;
}
#shop_grid_product .shop_grid_product_img .shop_grid_product_icon_btn .product_btn:nth-child(3){
    transition-delay: 0.2s;
}
#shop_grid_product .shop_grid_product_img .shop_grid_product_icon_btn .product_btn:nth-child(4){
    transition-delay: 0.3s;
}
#shop_grid_product .shop_grid_product_content h6{
    font-size: 18px;
    font-weight: 600;
    color: #11161E;
    margin-top: 20px;
    margin-bottom: 20px;
}
#shop_grid_product .shop_grid_product_content h6:last-child{
    /* margin-right: -48px; */
    color: #444444;
}
#shop_grid_product .shop_grid_product_content .star{
    color: #FF6F61;
    margin-top: 17px;
    /* margin-left: 40px; */
}
#shop_grid_product nav ul li{
    margin-right: 10px;
}
#shop_grid_product nav ul li a{
    color: #444444;
}
#shop_grid_product nav ul li a:hover{
    background: #11161E;
    color: #ffffff;
}
#shop_grid_product nav ul li.active_pn a{
    color: #ffffff;
    background: #11161E;
}
/* shop grid products css end  */
/* Shop Grid page css end  */

/* Shop Details page css start  */
   /* shop Details Banner section css start */
#shop_details_banner{
    background: url(../img/bg_shop_details.png);
    background-position: center;
    background-size: cover;
    height: 400px;
    position: relative;
    z-index: 1;
}
#shop_details_banner::before{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
#shop_details_banner .shop_details_banner_content h3{
    font-size: 46px;
    color: #ffffff;
    font-weight: 700;
    text-transform: capitalize;
}
#shop_details_banner .shop_details_banner_content p{
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    word-spacing: 8px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
#shop_details_banner .shop_details_banner_content p span a{
    color: #ffffff;
    transition: 0.5s;
}
#shop_details_banner .shop_details_banner_content p span a:hover{
    color: #FF6F61;
}
   /* shop Details Banner section css end */
   /* shop Details Products Details section css start */
#product_details .product_details_slider_img{
    margin-top: 100px;
    margin-bottom: 30px;
    z-index: 998;
}
/* #product_details .product_details_slider_nav{
    margin-right: 20px;
} */
#product_details .product_details_slider_nav .product_details_slider_nav_item{
    margin-right: 40px;
    margin-left: -40px;
    transition: 0.3s ease-in-out;
}
#product_details .product_details_slider_nav .product_details_slider_nav_item.slick-center{
    box-shadow: 0px 0px 30px rgba(21,26,50,0.12);
}
   /* shop Details Products Details section css end */
/* Shop Details page css end  */
